p, body, a{
    font-family: arial,sans-serif;
    font-weight: lighter;
    color: #5f6368;
}


a{
    font-size: 13px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


/*  Google logo */

.G-logo{
height:220px;
margin-top: 90px;
display: flex;
justify-content: center;
align-items: center;
}

.logoimg{

    height: 100%;
}

/* Search Bar */

.searchbarArea{
    margin-top: 16px;
    margin-bottom: 0px;
}

.G-searchbar {
    display: block;
    margin: 0 auto;
    height: 42px;
    width: 550px;
    border-radius: 21px;
    border: 1px solid #dadada;
    margin: auto;
    padding-left: 15px;
}

.G-searchbar:hover{
    border: none;
    box-shadow: 0 0 8px 0 rgba(32,33,36,0.28);
    padding-top: 2px;
    /* padding-top:2px; */
}

.Isbar{
    border: none;
    height: 100%;
    width: 80%;
    padding-left: 20px;
    background: none;
}

.voice-Sbtn{
    float: right;
    width: 50px;
    height: 100%;
    padding-right: 10px;
    background: none}

.mic-btn{
    height: 60%;
    padding-top:20%;
}

.G-mic{
    height: 100%;
    display: block;
    margin: 0 auto;
}

/*  Search buttons  */

.G-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
}

.Sbtn{
    height: 35px;
    width: 150px;
    border: 0px solid #ccc;
    background: #f1f1f1;    
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    font-size: 14px;
    color: #5f6368
}

.Sbtn:hover{
    border: 1px solid rgba( 185, 185, 185, 1);
}

/* navbar top */

.n1{
    width: 100%;
    top: 25px;
    position: fixed;
    background: none;

}
.navbar {
    height: 100px;
    background: none;
    display: flex;
    justify-content: space-between; 
}


/* footer */

.footer{
    position: fixed;
    bottom: 0px;
    background: rgba(0,0,0, 0.05);
    width: 100%;
    height: auto;
    border-top: 1px solid #dddddd;

}

.f1{
   height: 45px;
   font-size: 16px;
   font-weight: lighter;
   display: table-cell;
   vertical-align: middle;
}

.f2{
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dddddd;
    align-items : center;
}

/* frame spacing */

.f2, .f1, .navbar{
    padding: 0 25px;
}

/*Button spacing mods*/

.btnl{
    padding-left:20px;
}

.btnr{
    padding-left:20px;
}

/*google apps button */

.icon-dots{
    opacity: 0.5;
    width: 16px;
    height: auto;
    margin-top: -3px;  
}

.gApps:hover{
    opacity: 0.35;
}

/* sign in button */


.icon-login{
    width: 30px;
    border-radius: 15px;
    height: auto;
    margin-top: -3px;
}

.account:hover{
    opacity: 0.85;
}
