p, body, a{
    font-family: arial,sans-serif;
    font-weight: 100;
}


a{
    font-size: 16px;
    color: rgba(45,45,45,1);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


/*  Google logo */

.G-logo{
height:250px;
margin-top: 135px
}

.logoimg{
    display: block;
    margin: 0 auto;
    height: 100%;
}

/* Search Bar */

.searchbarArea{
    margin-top: 50px;
    margin-bottom: 0px;
}

.G-searchbar {
    display: block;
    margin: 0 auto;
    height: 54px;
    width: 650px;
    border-radius: 27px;
    border: 1px solid #c2c2c2;
    margin: auto;
    padding-left: 25px:
}

.G-searchbar:hover{
    border: none;
    box-shadow: 0 0px 6px 0 rgba(32,33,36,0.28);
}

.Isbar{
    border: none;
    height: 100%;
    width: 80%;
    padding-left: 20px;
    background: none;
}

.voice-Sbtn{
    float: right;
    width: 50px;
    height: 100%;
    padding-right: 10px;
    background: none}

.mic-btn{
    height: 55%;
    padding-top:20%;
}

.G-mic{
    height: 100%;
    display: block;
    margin: 0 auto;
}

/*  Search buttons  */

.G-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.Sbtn{
    height: 45px;
    width: 180px;
    border: 0px solid #ccc;
    background: #f1f1f1;    
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}

.Sbtn:hover{
    border: 1px solid rgba( 185, 185, 185, 1);
}

/* navbar top */

.n1{
    width: 100%;
    top: 35px;
    position: fixed;
    background: none;

}
.navbar {
    height: 100px;
    background: none;
    display: flex;
    justify-content: space-between; 
}

.nb-left{
  
}

.nb-right{
    

}

/* footer */

.footer{
    position: fixed;
    bottom: 0px;
    background: rgba(0,0,0, 0.05);
    width: 100%;
    height: auto;
}

.f1{
   height: 65px;
   border-top: 1px solid #e4e4e4;
   vertical-align: middle; 
   font-size: 22px;
   font-weight: 100;
}

.f2{
    height: 45px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e4e4e4;

}

.f2, .f1, .navbar{
    padding: 0 35px;
}




